body {
    background: linear-gradient(135deg, #B3E5FC 0%, #B39DDB 100%);
    color: #FFFFFF; /* White text for good contrast */
    font-family: Arial, sans-serif; /* Optional font for better aesthetics */
  }
  
  .m-heading{
    font-family: "Roboto Slab",serif;
    color: #8E24AA;
}
.nav-link{
    border: 2px solid transparent;
}
.nav-link:hover{
    text-decoration: none;
    border-bottom: 2px solid #8E24AA;
    transition: 0.5s ease;
}
.card{
    border-bottom: 6px solid #8E24AA;
}
.media_link{
    max-width: 15rem;
    border: 2px solid #8E24AA;
    border-radius: 0.5rem;
}
.media_link:hover{
    background-color: #8E24AA;
}
.a_contact:hover i{
    color: #8E24AA !important;
    
}  
  